---
---

#content {
    width: 100%;
    padding: 4rem .5rem 2rem .5rem;
}

.header-content, #content {
    max-width: 1240px;
}

.page-wrapper {
    display: flex;
}

#logo {
    height: 2rem;
    width: 3rem;
    margin: .5rem 0;
}

header h1 {
    font-size: 1.75rem;
}

h1 {
    margin-top: 0;
}

h5 {
    margin-bottom: 1rem;
}

.sidebar {
    flex: 1;
    background-color: #f7f7f7;
    margin-right: 2rem;
    border-radius: 4px;
    overflow: hidden;
    padding: .5rem 0;
    font-size: 14px;
    li:hover { background-color: #e0e0e0; }
    a {
        padding: .25rem 1rem;
        width: 100%;
        text-decoration: none;
        display: inline-block;
    }
    h6 {
        padding: .5rem 1rem;
        background: #e0e0e0;
        margin: .25rem 0;
    }
    hr {
        margin: .5rem 1rem;
        opacity: .5;
    }
}

.page-content {
    font-size: 18px;
    flex: 4;
}

.docson .box {
    width: 100%;
}

.json-keyword, .json-string, .json-object-key {
    color: #E6DB74 !important;
}

pre {
    border-radius: 4px;
    padding: .5rem .75rem;
    margin-bottom: .5rem;
    background: #2a2f3a;
    font-size: inherit;
    overflow: auto;
    word-wrap: inherit;
}
pre.req {
    background: #2a3a2c;
}
pre, code, textarea {
    font-family: 'Source Code Pro', monospace;
}
pre, code, textarea,
.docson .json-keyword,
#playground #playground-req-schema,
#playground #playground-res-schema {
    font-size: 13px;
}

pre p, code {
    margin-bottom: 0;
}

.spacer {
    flex: 1;
}

header {
    background: #2a3052 !important;
}

.support-btn {
    margin: .35rem;
    max-height: 2.5rem;
}
#api-token,
#playground-request,
#demo-language {
    width: 100%;
}

#playground-request {
    height: 8rem;
}

#api-call-selector,
#api-version-selector {
    width: 100%;
}

#open-in-playground {
    float: right;
}

#playground-console {
    overflow: auto;
    height: 60vh;
}

#playground-console pre:last-child {
    margin-bottom: 0;
}

#playground-reset-buttons {
    display: flex;
    justify-content: space-between;
}

.progress {
    margin: 0 auto;
}

pre { color: white; }
pre .key { color: #f92672; }
pre .string { color: #E6DB74; }
pre .number { color: #AE81FF; }

#language-demos pre {
    display: none;
}


#mobile-page-selector {
    width: 100%;
    display: none;
    margin-bottom: 1rem;
}

@media (max-width: 760px) {
    #mobile-page-selector {
        display: block;
    }
}

#unauthorized-error {
    display: none;
}

#scroll-to-bottom-btn {
    display: none;
}

@import "monokai.css";
