---
---
* {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}
#hamburger {
    display: none;
}
@media (max-width: 992px) {
    .nav > .top-nav, .nav > header > .navbar, #playground-sidebar, #sidebar, .vertical-separator  {
        display: none;
    }
    #hamburger {
        display: block;
        margin-right: 12px;
    }
    .nav {
        header {
            height: 56px;
            padding-left: 16px;
            a > .branding {
                font-size: 16px;
                margin-left: 8px;
            }
        }
    }
    .single-container > p {
        text-align: center;
    }
    .logo {
        width: 84px;
        height: auto;
    }
    body > #content > h1 {
        font-size: 24px;
        margin-top: 43px;
    }
    .page-wrapper > .playground > fieldset {
        margin: unset;
    }
    .cta-container > h2, .docson .title {
        font-size: 18px;
    }
    .docson .box-header {
        padding: 16px 16px 0;
    }
    .docson .box-description {
        margin-bottom: 16px;
    }
    .docson .scopes {
        width: 100%;
        margin-bottom: 24px;
        line-height: 17px;
    }
    .docson .box-body {
        padding: 16px 16px 24px;
    }
    .dark {
        .cta {
            h2 {
                font-size: 16px !important;
                margin-bottom: 32px;
            }

            a > .cta-button {
                font-size: 14px;
            }
        }
    }
    .playground {
        &-api-json {
            .playground-box {
                padding: 16px 30px;
            }
            fieldset {
                flex-wrap: nowrap;
            }
        }
    }
    fieldset > .form-content {
        width: 100%;
    }
    .form-content > textarea {
        width: 100%;
    }
    .json-btn-wrapper {
        width: 100%;

        .btn-submit {
            font-size: 14px;
            width: 50%;
        }

        #playground-reset-btn {
            width: 50%;

            .btn-reset {
                margin-right: 0;
                font-size: 14px;
                width: 100%;
            }
        }
    }
    .page-wrapper > .page-content, #frmNewApplication > .form-content {
        width: 100%;
        padding-left: unset;
    }
    .hero-container > .hero-header, .page-content > h1 {
        font-size: 32px;
    }
    .main-page-row {
        h1 {
            width: 90%;
            font-size: 24px;
        }

        .single-container {
            h1 {
                font-size: 24px;
            }
            .subheader { 
                font-size: 16px;
            }
        }
    }
    .container {
        .single-container > h2 {
            font-size: 24px;
        }
    }
    .hero-container > .hero-text { 
        font-size: 16px;
    }
    .page-content > fieldset > input[type="text"] {
        width: 50%;
    }
    #frmNewApplication > .form-content > fieldset {
        flex-direction: row;
    }
    .accordion-wrapper > .accordion-header {
        padding: 16px 28px;
    }
    .cta {
        .cta-grid {
            display: unset;

            .cta-box {
                padding: 16px;
            }
        }
    }
    #content > #mobile-page-selector {
        display: block;
    }
    .main-page-row {
        .card-container {
            flex-direction: column;
            padding: 40px 16px;
            margin-bottom: 0;

            .main-page-card {
                width: unset;
                margin: 0 0 24px;
            }
        }
    }
    .main-content {
        .container {
            flex-direction: column;

            .single-container {
                width: unset;
                padding: 40px 16px;
            }
        }
        .cta-row {
            flex-direction: column;
            height: auto;
            padding: 40px 16px;
        }
        .hero-image {
            min-height: 584px;
        }
    }
    .main-page-row > .single-container, 
    .hero-image > .hero-container, 
    .main-content > .cta-row > .cta-container {
        width: 95%;
        margin-right: unset;
    }
    .off-canvas-menu {
        position: fixed;
        background-color: white;
        top: 56px;
        height: 100vh;
        width: 253px;
        opacity: 1;
        overflow: scroll;
        transition: left 0.4s ease 0s;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 16px 20px 0;
        will-change: left;
        left: -254px;
        z-index: 1;
    }
    .show-canvas {
        left: 0;
    }
    .off-canvas-menu > .menu-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0 1.6rem 21rem;

        .menu-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 70px;
            font-size: 16px;
            font-weight: bold;

            a {
                color: #000000;
            }

            .menu-header {
                display: inline-flex;
                margin-bottom: 8px;

                a {
                    color: #000000;
                }

                .menu-button {
                    margin-left: auto;
                }
            }

            .menu-panel {
                display: none;
                height: 0;
                transition: all .5s ease;
                a {
                    color: #636363;
                    padding-left: 2px;
                    margin-bottom: 6px;
                }
            }

            .show-dropdown {
                display: flex;
                flex-direction: column;
                height: auto;
            }
        }
    }
    .main-content > .doc-content {
        flex-direction: column;
        padding: 105px 16px;
        width: unset;
    }
}
@media (max-width: 1078px) {
    .playground {
        &-page-wrapper {
            flex-direction: column;
        }
        &-api-json {
            width: 100% !important;
        }
        &-api-docs {
            width: 100% !important;
        }
    }
    .dark > .vertical-separator {
        margin: 0 20px 0 40px;
    }
    header > nav {
        margin-left: 56px;
    }
}
a {
    color: #ff444f;
    text-decoration: none;
}
.bold {
    font-weight: bold;
}
.top-nav > a {
    margin-right: 40px;
    font-size: 12px;
    line-height: 1.5;
    color: #c2c2c2;
}
.hero-text > p {
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
    margin-bottom: 32px;
}
.single-container > h1 {
    margin-bottom: 12px;
    line-height: 1.25;
}
.single-container > p {
    margin-bottom: 32px;
}
.branding {
    display: inline;
    font-size: 24px;
    font-weight: normal;
    color: #ffffff;
    margin-left: 24px;
    margin-bottom: 0;
}
h1 {
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 1.5;
    text-align: center;
    color: #333333;
}
h2 {
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    color: #333333;
}
.app-header {
    margin-bottom: 12px;
}
h3 {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 1.5;
    color: #333333;
}
p {
    line-height: 1.5;
    margin-bottom: 16px;
}
ol > p {
    margin-bottom: 16px;
}
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: fit-content;
}
.hero-header {
    font-size: 64px;
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
    color: #ffffff;
}
.hero-text {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 32px;
}
.nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}
.hero-image {
    background-image: linear-gradient(
    rgba(0,0,0,0.16), 
    rgba(0,0,0, 0.16)), 
    url("/img/header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-btn {
    padding: 10px 16px;
    border-radius: 4px;
    background-color: #ff444f;
    color: #ffffff;
}
.main-page-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}
.single-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.single-container > img {
    margin-bottom: 24px;
}
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 208px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.text-block {
    margin-bottom: 40px;
}
.single-container > h2 {
    font-size: 32px;
    margin-bottom: 8px;
    color: #ffffff;
}
.with-pattern {
    background-image: url("/img/pattern.svg");
    object-fit: contain;
}
.cta-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 308px;
    background-color: rgba(242, 243, 244, 0.3);
    padding: 0 120px;
}
.cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-right: 24px;
    width: 40%;
}
.main-register-btn {
    padding: 10px 16px;
    border-radius: 4px;
    background-color: #ff444f;
    text-decoration: none;
    color: #ffffff;
}
.community-btn {
    padding: 6px 16px;
    border-radius: 4px;
    border: solid 1px #6e6e6e
}
.card-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
.main-page-card {
    width: 31%;
    padding: 32px 24px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(14, 14, 14, 0.1);
    background-color: #ffffff;
    margin-right: 24px;

    .header {
        display: inline-block;
        width: 100%;

        img {
            float: right;
        }

        h3 {
            font-size: 24px;
            font-weight: bold;
            color: #333333;
            margin-bottom: 8px;
            float: left;
        }
    }

    .content {
        font-size: 16px;
        line-height: 1.5;
        color: #333333;
    }
}
.card-icon {
    text-align: right;
}
.flex-container {
    display: flex;
    align-items: center;
}
.top-nav {
    height: 32px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.1);
    background-color: #0e0e0e;
    padding: 7px 0 7px 120px;
}
header {
    display: flex;
    align-items: center;
    height: 73px;
    background-color: #0e0e0e;
    padding-left: 120px;
}
nav {
    margin-left: 113px;

    a {
        position: relative;
        margin-right: 40px;
        font-size: 16px;
        line-height: 1.5;
        color: #ffffff;

        &::before{
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #ff444f;
            visibility: hidden;
            transition: all 0.2s ease-in-out;
        }
        &:hover:before{
            visibility: visible;
            width: 20px;
        }
    }

    .selected {
        &::before {
            width: 20px;
            visibility: visible;
        }
    }
}
.vertical-separator {
    width: 2px;
    height: inherit;
    margin: 0 0 0 40px;
    background-color: #eaeced;
}
.page-content {
    width: 75%;
    padding-left: 40px;

    #api-token-fieldset {
        margin-bottom: 42px;
    }
    #api-token-fieldset > input[type="text"] {
        max-width: 512px;
    }
}
ol {
    margin-left: 20px;

    li {
        margin-bottom: 16px;
    }
}
ul {
    margin-left: 20px;

    li {
        margin-bottom: 16px;
    }
}
.subheader {
    font-size: 24px;    
    text-align: center;
    color: #333333;
    margin-bottom: 40px;
}
.cta {
    width: auto;
    padding: 24px 0;
    border-radius: 4px;
    background-color: #f2f3f4;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        .cta-button {
            width: fit-content;
            color: #333333;
            padding: 10px 16px;
            border-radius: 4px;
            border: solid 2px #999999;

            &:hover {
                background-color: #999999;
            }
        }
    }

    &-grid {
        display: grid;
        height: fit-content;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 40px;
        width: 1fr;

        &-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px;

             h2 {
                font-size: 32px;
                font-weight: bold;
                line-height: 1.25;
                text-align: center;
            }
            a {
                .cta-button {
                    width: fit-content;
                    color: #333333;
                    padding: 10px 16px;
                    border-radius: 4px;
                    border: solid 2px #999999;

                    &:hover {
                        background-color: #999999;
                    }
                }
            }
        }
    }
}
fieldset {
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    flex-wrap: wrap;

    input[type="text"] {
        width: 100%;
        height: 40px;
        padding: 0 12px;
        border-radius: 4px 0 0 4px;
        border: solid 1px #d6dadb;
        font-size: 14px;
        line-height: 1.43;
        color: #333333;
    }
}
textarea {
    width: 98%;
    min-height: 119px;
    padding: 10px;
    border-radius: 4px;
    border: solid 1px #d6dadb;
}
.scopes {
    width: 100%;
}
.scopes-field {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    align-self: flex-start;
    justify-self: center;
}
.app-registration-subheader {
    align-self: flex-start;
}
.scopes-field > input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 16px;
}
.btn {
    width: fit-content;
    height: fit-content;
    border-radius: 4px;
}
.btn-submit {
    width: fit-content;
    height: fit-content;
    padding: 10px 11px;
    border: none;
    border-radius: 4px;
    background-color: #ff444f;
    line-height: 1.43;
    color: #ffffff;
    margin: 24px 8px 40px 0;
    position: relative;
}
.btn-reset {
    width: fit-content;
    height: fit-content;
    padding: 10px 16px;
    border-radius: 4px;
    margin: 24px 8px 40px 0;
    border: solid 2px #999999;
}
.btn-authenticate {
    width: 118px;
    height: 42px;
    padding: 10px 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: #ff444f;
    font-size: 14px;
    line-height: 1.43;
    color: #ffffff;
}
#frmNewApplication {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;

    fieldset {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input[type="text"] {
            border-radius: 4px;
            margin-bottom: 24px;
        }
    }
}
#mobile-page-selector {
    width: 100%;
    margin-bottom: 1rem;
    display: none;
}
.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.doc-content {
    padding: 105px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.playground-content {
    padding: 105px 24px;
}
#content > .documentation {
    width: 90%;
    margin-top: 20px;
}
.page-wrapper {
    display: flex;
    color: #333333;
}
.sidebar-left {
    display: flex;
    flex-direction: column;
    max-width: 197px;
    min-width: 197px;

    a {
        position: relative;
        opacity: 0.72;
        margin-bottom: 14px;
        line-height: 1.88;
        color: #333333;
        padding-left: 20px;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            width: 4px;
            height: 0;
            background-color: red;
            visibility: hidden;
            transition: all 0.2s ease-in-out;
        }

        &:hover:before {
            visibility: visible;
            height: 100%;
        }
    }

    .selected {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.88;
        opacity: 1.0;
    
        &::before {
            visibility: visible;
            height: 100%;
        }
    }
}
.sidebar-title {
    margin: 0 0 40px 2px;
    font-size: 24px;
    line-height: 1.25;
    color: #333333;
}
.horizontal-separator-grey {
    width: 100%;
    height: 1px;
    background-color: #eaeced;  
    margin-bottom: 40px;
}
.accordion-header {
    display: inline-flex;
    align-items: center;
    max-height: fit-content;
    padding: 16px 40px;
    border: none;
    border-radius: 6px;
    box-shadow: -2px 6px 15px 0 rgba(195, 195, 195, 0.31);
    background-color: #ffffff;
    transition: 0.2s;
}

.accordion-text {
    font-size: 16px;
    margin-right: 16px;
    color: #333333;
}

.accordion-panel {
    height: fit-content;
    padding: 24px 40px;
    background-color: #fbfbfb;
    display: none;
    margin-bottom: 24px;
}
.accordion-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 24px;
}
.accordion-button {
    margin-left: auto;
}
code {
    border-radius: 4px;
    padding: 2px 4px;
    color: #ff444f;
    font-size: 90%;
    border: 1px solid #eaeced;
    font-weight: bold;
}
.card {
    border-radius: 6px;
    background-color: #1d1f20;

    &-header {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        border-radius: 6px;
        background-color: #0e0e0e;
        border-bottom: 1px solid rgba(242, 243, 244, 0.2);
        color: #d6d6d6;
        line-height: 1.5;

        &-title {
            width: 100%;
            margin-bottom: unset;
            padding-left: 24px;
        }

        .copy-button {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: #c2c2c2;
            border-left: rgba(229, 229, 229, 0.4) 1px solid;
            padding: 8px 16px;

            &-image {
                margin: 0 9px 0 3px;
            }

            &:hover {
                background-color: #424242;
                border-top-right-radius: 6px;
            }
        }

        select {
            background-color: inherit;
            border: #0e0e0e;
            color: #d6d6d6;
        }
    }
}
.card-light {
    border-radius: 4px;
    border: solid 1px #e5e5e5;
    background-color: rgba(87, 122, 146, 0.04);
    color: #333333;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 8px;

    &-content {
        width: 100%;
        padding: 16px 24px;
    }

    .copy-button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: fit-content;
        height: 100%;
        font-weight: normal;
        border-left: rgba(229, 229, 229, 0.4) 1px solid;
        padding: 16px 24px;

        &-image {
            margin: 0 9px 0 3px;
        }

        &:hover {
            background-color: rgba(87, 122, 146, 0.08);
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
}
pre {
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 16px;
    background: #1d1f20;
    font-size: inherit;
    overflow: auto;
    word-wrap: inherit;
}
#playground #playground-req-schema,
#playground #playground-res-schema,
.docson .json-keyword,
code,
pre,
textarea {
    font-size: 16px;
}
code,
pre p {
    margin-bottom: 0;
    color: #c2c2c2;
}

#playground-console {
    margin-top: 2px;

    pre {
        padding: 16px;
        border: none;
        border-radius: 4px;
        background-color: #0e0e0e;
        color: #c2c2c2;
        line-height: 24px;
    }

    pre:last-child {
        margin-bottom: 0;
    }
}
#playground {
    .source {
        margin-top: 10px;
        padding-left: 10px;
    }
    &.light {
        pre {
            background: #f5f5f5;
            color: green;
        }
        // schema source
        .source {
            margin-top: 10px;
            padding-left: 10px;

            pre .json-keyword {
                color: darkblue !important;
            }
            pre .json-object-key {
                color: blue !important;
            }
            pre .json-string {
                color: #9c9128 !important;
            }
            pre .json-number {
                color: #e61818;
            }
            pre .json-punctuation {
                color: green;
            }
        }
        // console
        pre.req {
            background: #e5e5e5;
        }
        pre.error {
            background: #f9ebeb;
        }
        pre .key {
            color: darkblue;
        }
        pre .string {
            color: #9c9128;
        }
        pre .number {
            color: #e61818;
        }
    }
}
.progress {
    margin: 0 auto;
}
pre {
    color: white;
}
pre .key {
    color: #f92672;
}
pre .string {
    color: #E6DB74;
}
pre .number {
    color: #AE81FF;
}
#language-demos pre {
    display: none;
}
pre {
    max-width: 100%;
    overflow: auto;
    white-space: pre-wrap;
    word-break: break-word;
}
.playground {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;

    &-page-wrapper {
        display: flex;
        width: 95%;
    }

    &-api-json {
        display: flex;
        flex-direction: column;
        margin-right: 24px;
        width: 50%;

        .playground-box {
            border-radius: 6px;
            border: none;
            background-color: #151717;
            padding: 24px 24px 82px 24px;
            margin-bottom: 40px;

            .json-btn-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-bottom: 16px;
            }

            textarea {
                min-height: 200px;
                padding: 10px 12px;
                border: none;
                border-radius: 4px;
                background-color: #0e0e0e;
                color: #c2c2c2;
            }
        }

        .api-token {
            display: flex;
            flex-wrap: nowrap;
            border-radius: 4px;
            background-color: #151717;
            padding: 24px;
            margin-bottom: 24px;

            fieldset {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                margin-right: 24px;
                margin: 0 24px 0 0;
                justify-content: flex-start;

                input[type="text"] {
                    border: none;
                    border-radius: 4px;
                    color: #c2c2c2;
                    background-color: #0e0e0e
                }
            }

            .cta {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                font-size: 14px;
                width: 70%;
                margin-bottom: unset;

                .title {
                    font-weight: bold;
                    line-height: 1.43;
                    text-align: center;
                    color: #c2c2c2;
                }

                a {
                    .cta-button {
                        padding: 10px 16px;
                        border-radius: 4px;
                        border: solid 2px #6e6e6e;
                        color: white;
                    }
                }
            }
        }
    }

    &-api-docs {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    fieldset {
        select {
            border-radius: 3.5px;
            border: solid 1px #323738;
            background-color: #0e0e0e;
        }
    }
}
.select2 {
    width:100%!important;
}
.select2-container--default .select2-selection--single {
    border: none;
    border-radius: 3.5px !important;
    border: solid 1px #323738 !important;
    background-color: #0e0e0e !important;
    color: #ffffff !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #ffffff !important;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #333333;
    color: black;
}
.select2-results {
    color: #ffffff;
    background-color: black;
}
.select2-search--dropdown {
    background-color: black;
}
.select2-container--open .select2-dropdown--below {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
}
.dark {
    color: #ffffff !important;
    background-color: #0e0e0e;

    .sidebar-title, .selected, a {
        color: #ffffff !important;
    }

    fieldset > textarea {
        width: 100%;
        min-height: 200px;
        margin: 0;
        border-radius: 4px;
        background-color: #0e0e0e;
        border: none;
        color: #c2c2c2;
    }

    p {
        color: #c2c2c2;
    }

    .vertical-separator {
        background-color: #151717;
    }

    .cta {
        padding: unset;
        background-color: inherit;

        h2 {
            font-size: 24px;
            font-weight: bold;
            line-height: 1.5;
            color: #ffffff;
            margin-bottom: 24px;
        }
    }
}
.docson .signature-type-object {
    border: none;
    background-color: #0e0e0e;
    color: white;
}
.docson .desc code {
    background-color: rgba(255, 255, 255, 0.16);
    border: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.14;
    color: #ffffff;
    margin: 0 6px;
    padding: 6px 8px;
}
.docson .scopes {
    float: right;
    margin-bottom: 0px;
    font-size: 14px;
    color: #c2c2c2;
}
.docson .type-enum {
    font-size: 14px;
    line-height: 1.43;
    color: #85acb0;
    border: none;
    margin: 8px 8px 0 0;
    padding: 6px 8px;
    white-space: nowrap;
    border-radius: 4px;
    background-color: rgba(133, 172, 176, 0.16);
}
.docson .signature {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.docson .signature-header {
    display: flex;
    flex-direction: row;
    height: fit-content;
}
.docson .property-name {
    display: flex;
    width: 40%;
    color: #ffffff;
    font-size: 16px;
    margin: 8px 8px 0 0;
}
.docson .signature-type {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 6px;
}
.docson .signature-description {
    color: #c2c2c2;
    float: left;
    max-width: 600px;
    width: 100%;
}
.docson .signature-button {
    cursor: pointer;
    margin: 8px 8px 0 0;
    padding: 8px;
    border-radius: 4px;
    background-color: #0e0e0e;
    -moz-border-radius: 4px;
    color: white;
}
.docson .signature-type-string {
    color: #9ed178;
}
.docson span {
    font-size: 14px;
    margin: 8px 8px 0 0;
}
.docson .box {
    position: relative;
    background-color: #1d1f20;
    border: none;
    border-radius: 4px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}
.docson .box-body {
    padding: 42px 24px;
}
.docson .box-1 {
    background: #151717;
    padding: 8px 16px;
}
.docson .box-container {
    padding-top: 8px;
    display: none;
}
.docson .signature-box-container {
    clear: both;
}
.docson .sub-box-container {
    .box {
        margin-bottom: unset;
    }
}

@import "monokai.css";