---
layout: default
permalink: api/
---
<div id="playground-page">
    <div id="playground" class="row">
        <div>
            {% include api-selector.html %}

            <div id="playground-req-schema"></div>
            <p>
            <div id="playground-res-schema"></div>
        </div>
        <div>
            {% include token-input.html %}
            <fieldset>
                <textarea id="playground-request" placeholder="Request JSON"></textarea>
            </fieldset>
            <p id="playground-reset-buttons">
                <button id="playground-send-btn">Send Request</button>
                <button id="scroll-to-bottom-btn">Scroll To Bottom</button>
                <button id="playground-reset-btn">Reset Connection</button>
            </p>
            <div id="unauthorized-error" >
                <p class="errorfield">You are not authenticated.</p>
            </div>
            <div id="playground-console"></div>
        </div>
    </div>
</div>
