---
layout: default
permalink: applications/
---
<div id="applications-page" class="row">
    <div id="applications">
        <h1>Applications</h1>
        <p>Authenticate with your API token before managing your applications.</p>
        <form id="frmNewApplication">
              <fieldset>
                  <legend>Register an application <span id="placeholder_app_id"></span><em class="required_asterisk">(* required)</em></legend>
                  <div>
                      <label for="application-name">Name:</label>
                      <em class="required_asterisk">*</em>
                  </div>
                  <div>
                      <input id="application-name" type="text" maxlength="48" />
                  </div>
                  <div>
                      <label for="application-redirect">Redirect URL:</label>
                      <em class="required_asterisk">*</em>
                  </div>
                  <div>
                      <input id="application-redirect" type="text" maxlength="255" />
                  </div>
                  <div>
                      <label for="application-signup">Signup URL:</label>
                  </div>
                  <div>
                      <input id="application-signup" type="text" maxlength="255" />
                  </div>
                  <div>
                      <label for="application-homepage">Homepage URL:</label>
                  </div>
                  <div>
                      <input id="application-homepage" type="text" maxlength="255" />
                  </div>
                  <div>
                      <label for="application-github">Github URL:</label>
                  </div>
                  <div>
                      <input id="application-github" type="text" maxlength="255" />
                  </div>
                  <div>
                      <label for="application-appstore">Appstore URL:</label>
                  </div>
                  <div>
                      <input id="application-appstore" type="text" maxlength="255" />
                  </div>
                  <div>
                      <label for="application-googleplay">Google Play URL:</label>
                  </div>
                  <div>
                      <input id="application-googleplay" type="text" maxlength="255" />
                  </div>
                  <div>
                      <label for="application-markup">
                          <span data-balloon="Percentage to be added to pricing of contracts" data-balloon-length="medium">Markup percentage</span>: (minimum 0.00 and maximum 5.00)
                      </label>
                  </div>
                  <div>
                      <input id="application-markup" type="text" maxlength="4" />
                  </div>
                  <div>
                      <label>Scopes:</label>
                      <em class="required_asterisk">*</em>
                  </div>
                  <div class="scopes">
                    <div>
                        <input id="read-scope" type="checkbox" value="read" checked="checked" />
                        <label for="read-scope">Read: View account activity</label>
                    </div>
                    <div>
                        <input id="trade-scope" type="checkbox" value="trade" />
                        <label for="trade-scope">Trade: Buy and sell contracts</label>
                    </div>
                    <div>
                        <input id="payments-scope" type="checkbox" value="payments" />
                        <label for="payments-scope">Payments: Cashier (Deposit, Withdraw)</label>
                    </div>
                    <div>
                        <input id="admin-scope" type="checkbox" value="admin" />
                        <label for="payments-scope">Admin: API token management, application management</label>
                    </div>
                  </div>
                  <div class="application_buttons">
                    <button id="btnRegister">Register</button>
                  </div>
              </fieldset>
        </form>
    </div>
    <div>
      {% include token-input.html %}
      {% include api-playground-field.html %}
    </div>
</div>
<div>
  <table class="flex-table" id="applications-table" style="display:none">
    <thead>
      <tr class="flex-tr">
        <th class="flex-tr-child">Name</th>
        <th class="flex-tr-child">Application ID</th>
        <th class="flex-tr-child">Scopes</th>
        <th class="flex-tr-child">Redirect URL</th>
        <th colspan="2" class="flex-tr-child">Actions</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
