---
layout: page
title:  "Code Samples"
permalink: demos/
---

<fieldset>
    <select id="demo-language">
        <option value="javascript">JavaScript</option>
        <option value="coffeescript">CoffeeScript</option>
        <option value="csharp">C#</option>
        <option value="go">Go</option>
        <option value="perl">Perl</option>
        <option value="java">Java</option>
        <option value="php" hidden>PHP</option>
        <option value="ruby">Ruby</options>
        <option value="python">Python</option>
        <option value="swift">Swift</option>
    </select>
</fieldset>

<p>Here is a code snippet that opens a websocket, and requests a stream of updates for the symbol "R_100".
On receipt of each message, it outputs a message.</p>

<div id="language-demos">
    <pre data-language="javascript">{% include demos/javascript.html %}</pre>
    <pre data-language="coffeescript">{% include demos/coffeescript.html %}</pre>
    <pre data-language="csharp">{% include demos/csharp.html %}</pre>
    <pre data-language="go">{% include demos/go.html %}</pre>
    <pre data-language="java">{% include demos/java.html %}</pre>
    <pre data-language="perl">{% include demos/perl.html %}</pre>
    <pre data-language="php">TODO</pre>
    <pre data-language="ruby">{% include demos/ruby.html %}</pre>
    <pre data-language="python">{% include demos/python.html %}</pre>
    <pre data-language="swift">{% include demos/swift.html %}</pre>
</div>
