<fieldset class="mb-0">
  <div class="form-content">
    <h3 class="app-registration-subheader">Request JSON</h3>
    <!-- <div id="unauthorized-error" >
            <p class="notice-msg">You are not authenticated.</p>
        </div> -->
    <textarea id="playground-request" placeholder="Request JSON"></textarea>
    <div class="json-btn-wrapper">
      <button class="gray-btn-submit mr-8p" id="playground-send-btn">
        Send Request
      </button>
      <a id="playground-reset-btn" href="javascript:;">
        <button class="btn-reset">Reset Connection</button>
      </a>
    </div>
  </div>
</fieldset>
<div id="playground-console"></div>
