<fieldset>
    <div class="row">
        <div class="col" style="flex: 2">
            <select id="api-call-selector">
                <option selected disabled hidden>Select API Call - Version 3</option>
                <optgroup label="Unauthenticated Calls">
                    <option value="active_symbols">Active Symbols</option>
                    <option value="asset_index">Asset Index</option>
                    <option value="authorize">Authorize</option>
                    <option value="contracts_for">Contracts For Symbol</option>
                    <option value="copytrading_statistics">Copy Trading: statistics</option>
                    <option value="exchange_rates">Snapshot of key exchange rates</option>
                    <option value="forget">Forget</option>
                    <option value="forget_all">Forget All</option>
                    <option value="landing_company">Landing Company</option>
                    <option value="landing_company_details">Landing Company details</option>
                    <option value="new_account_virtual">New virtual account opening</option>
                    <option value="ping">Ping</option>
                    <option value="paymentagent_list">Payment Agent list</option>
                    <option value="payout_currencies">Payout Currencies</option>
                    <option value="proposal">Price Proposal</option>
                    <option value="proposal_array">Price Proposal (multiple contracts)</option>
                    <option value="residence_list">Residence list</option>
                    <option value="states_list">States list</option>
                    <option value="ticks">Tick Stream</option>
                    <option value="ticks_history">Tick History</option>
                    <option value="time">Server time</option>
                    <option value="trading_times">Trading Times</option>
                    <option value="verify_email">Verify an email address</option>
                    <option value="website_status">Website status</option>
                </optgroup>
                <optgroup label="Authenticated Calls: 'read' scope">
                    <option value="get_limits">Account Limits</option>
                    <option value="get_settings">Account Settings</option>
                    <option value="get_account_status">Account Status</option>
                    <option value="balance">Balance</option>
                    <option value="get_self_exclusion">Get Self-Exclusion settings</option>
                    <option value="login_history">Login history</option>
                    <option value="logout">Log out</option>
                    <option value="oauth_apps">Application - management</option>
                    <option value="statement">Statement</option>
                    <option value="portfolio">Portfolio</option>
                    <option value="profit_table">Profit Table</option>
                    <option value="proposal_open_contract">Price Proposal - Open Contract</option>
                    <option value="reality_check">Reality Check</option>
                    <option value="transaction">Transactions stream</option>
                </optgroup>
                <optgroup label="Authenticated Calls: 'trade' scope">
                    <option value="buy">Buy Contract</option>
                    <option value="buy_contract_for_multiple_accounts">Buy Contract for multiple accounts</option>
                    <option value="sell_contract_for_multiple_accounts">Sell Contract for multiple accounts</option>
                    <option value="copy_start">Start copying a trader</option>
                    <option value="copy_stop">Stop copying a trader</option>
                    <option value="sell">Sell Contract</option>
                    <option value="sell_expired">Sell expired contracts</option>
                    <option value="topup_virtual">Top-up virtual-money account funds</option>
                </optgroup>
                <optgroup label="Authenticated Calls: 'admin' scope">
                    <option value="api_token">API token management</option>
                    <option value="app_register">Application - registration</option>
                    <option value="app_list">Applications - list</option>
                    <option value="app_get">Application - get details</option>
                    <option value="app_delete">Application - delete</option>
                    <option value="app_update">Application - update details</option>
                    <option value="app_markup_details">App Markup - get details</option>
                    <option value="document_upload">Document upload</option>
                    <option value="get_financial_assessment">Get financial assessment</option>
                    <option value="jp_knowledge_test">Knowledge test facility for Japanese accounts</option>
                    <option value="mt5_mamm">Manage MT5 MAMM manager</option>
                    <option value="new_account_maltainvest">New real-money account opening - Binary Investments (Europe) Ltd.</option>
                    <option value="new_account_real">New real-money account opening - default landing company</option>
                    <option value="revoke_oauth_app">Revoke Oauth application</option>
                    <option value="tnc_approval">Record that client viewed updated Terms and Conditions</option>
                    <option value="set_account_currency">Set account currency</option>
                    <option value="set_financial_assessment">Set financial assessment</option>
                    <option value="set_self_exclusion">Set Self-Exclusion settings</option>
                    <option value="set_settings">Set Account settings</option>
                </optgroup>
                <optgroup label="Authenticated Calls: 'payments' scope">
                    <option value="cashier">Cashier URL</option>
                    <option value="cashier_password">Set or clear cashier password</option>
                    <option value="paymentagent_withdraw">Withdraw to a Payment Agent</option>
                    <option value="paymentagent_transfer">For Payment Agents only: transfer to a client account</option>
                    <option value="transfer_between_accounts">Transfer between accounts</option>
                </optgroup>
                <optgroup label="MT5-related Calls ('admin' scope)">
                    <option value="mt5_new_account">MT5: new account</option>
                    <option value="mt5_login_list">MT5: login list</option>
                    <option value="mt5_deposit">MT5: deposit</option>
                    <option value="mt5_withdrawal">MT5: withdrawal</option>
                    <option value="mt5_get_settings">MT5: get settings</option>
                    <option value="mt5_set_settings">MT5: set settings</option>
                    <option value="mt5_password_change">MT5: password change</option>
                    <option value="mt5_password_check">MT5: password check</option>
                    <option value="mt5_password_reset">MT5: password reset</option>
                </optgroup>
            </select>
        </div>
        <div class="col">
            <select id="api-language-selector">
                <option value="DE">Deutsch</option>
                <option value="EN" selected="selected">English</option>
                <option value="ES">Español</option>
                <option value="FR">Français</option>
                <option value="ID">Indonesia</option>
                <option value="PL">Polish</option>
                <option value="PT">Português</option>
                <option value="RU">Русский</option>
                <option value="TH">Thai</option>
                <option value="VI">Tiếng Việt</option>
                <option value="ZH_CN">简体中文</option>
                <option value="ZH_TW">繁體中文</option>
            </select>
        </div>
    </div>
</fieldset>
