<a class="deriv-banner" href="https://api.deriv.com">
    <img class="image mobile-only" src="{{ branch }}/img/deriv-banner.png" alt="deriv-banner" />
    <div class="overlay mobile-only"></div>
    <div class="text-container">
        <span class="title">Binary.com has been rebranded to Deriv</span>
        <span class="subtitle">Same login credentials. Same API. Improved experience</span>
    </div>
    <span class="button">Take me to Deriv</span>
    <img class="image desktop-only" src="{{ branch }}/img/deriv-banner.png" alt="deriv-banner" />
</a>
