<footer>
    <div id="end-note" class="invisible content-inverse-color center-text"></div>
    <div class="left">
        <div class="footer-logo">
            <img width="147" height="25" alt="Deriv Logo" src="../img/deriv-footer.svg">
        </div>
        <p class="footer-text">Deriv is a new trading platform created by the Binary Group, a multi-award winning pioneer in online trading. </p>
        <div class="ssm">
            <p>Connect with us</p>
            <div class="ssm-icon-wrapper">
                <div class="ssm-icons">
                    <img width="32" height="32" alt="Facebook Logo" src="../img/footer-facebook.svg">
                </div>
                <div class="ssm-icons">
                    <img width="32" height="32" alt="Instagram Logo" src="../img/footer-instagram.svg">
                </div>
                <div class="ssm-icons">
                    <img width="32" height="32" alt="Twitter Logo" src="../img/footer-twitter.svg">
                </div>
            </div>
        </div>
        <select class="footer-language">
            <option id="english">English</option>
        </select>
    </div>
    <div class="right">
        <div class="site-link">
            <p class="header">Trade</p>
            <a href="">DTrader</a>
            <a href="">DBot</a>
            <a href="">DMT5</a>
            <a href="">SmartTrader</a>
        </div>
        <div class="site-link">
            <p class="header">Markets</p>
            <a href="">Forex</a>
            <a href="">Synthetic Indices</a>
            <a href="">Stock indices</a>
            <a href="">Commodities</a>
        </div>
        <div class="site-link">
            <p class="header">Legal</p>
            <a href="">Regulatory information</a>
            <a href="">Terms and conditions</a>
            <a href="">Secure and responsible trading</a>
        </div>
        <div class="site-link">
            <p class="header">Trade</p>
            <a href="">DTrader</a>
            <a href="">DBot</a>
            <a href="">DMT5</a>
            <a href="">SmartTrader</a>
        </div>
        <div class="site-link">
            <p class="header">Markets</p>
            <a href="">Forex</a>
            <a href="">Synthetic Indices</a>
            <a href="">Stock indices</a>
            <a href="">Commodities</a>
        </div>
        <div class="site-link">
            <p class="header">Legal</p>
            <a href="">Regulatory information</a>
            <a href="">Terms and conditions</a>
            <a href="">Secure and responsible trading</a>
        </div>
    </div>
    <div class="bottom">

    </div>
</footer>

<script src="{{ branch }}/code.js"></script>
