<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin,vietnamese,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css' />
    <link rel='stylesheet' href='http://borisyankov.github.io/binary-static/css/binary.css' />
    <link rel="stylesheet" href="/docson/docson.css">
    <script src="/lib/require.js"></script>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <style>
        #content { width: 100%; margin-top: 100px !important; }
        .page-wrapper { display: flex; }
        h1 { margin-top: 0; }
        .sidebar { flex: 1; }
        .page-content { flex: 3; }
    </style>
</head>
