<div class="nav">
    <div class="top-nav flex-container">
        <a href="https://deriv.com">Deriv website</a>
        <a href="https://deriv.com/about">About us</a>
        <a href="https://deriv.com/contact-us">Contact us</a>
    </div>
    <header>
        <a class="flex-container" href="https://deriv.com/partners/">
            <img id="logo" alt="Deriv Logo" src="../img/deriv.svg">
            <h1>Partners</h1>
        </a>
        <nav class="flex-container">
            <a href="https://deriv.com/partners/affiliate-ib">Affiliates & IBs</a>
            <a href="https://deriv.com/partners/payment-agent">Payment agents</a>
            <a class="selected" href="https://developers.deriv.com">Developers</a>
            <a href="#">Resources</a>
        </nav>
    </header>
</div>
