<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'/>

    <link href='https://static.binary.com/images/favicons/favicon-96x96.png' rel='icon' sizes='96x96' type='image/png'/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' />
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' />

    <link rel="stylesheet" href="https://style.binary.com/binary.css" />
    <link rel="stylesheet" href="/docson/docson.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="/lib/rainbow.js"></script>

    <script src="/lib/language/generic.js"></script>
    <script src="/lib/language/javascript.js"></script>
    <script src="/lib/language/coffeescript.js"></script>
    <script src="/lib/language/csharp.js"></script>
    <script src="/lib/language/go.js"></script>
    <script src="/lib/language/java.js"></script>
    <!-- <script src="/lib/language/perl.js"></script> -->
    <script src="/lib/language/php.js"></script>
    <script src="/lib/language/ruby.js"></script>
    <script src="/lib/language/python.js"></script>
    <!-- <script src="/lib/language/swift.js"></script> -->

    <script src="https://npmcdn.com/binary-live-api@13.3.0/lib/binary-live-api.js"></script>
    <script src="/lib/require.js"></script>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
