<select id="mobile-page-selector">
    <option value="/">Welcome</option>
    <option value='-' disabled>───────────────────────</option>
    <option value="/playground/">Playground</option>
    <option value="/websockets/">WebSockets</option>
    <option value="/demos/">Demos</option>
    <option value='-' disabled>───────────────────────</option>
    <option value="/api/#ticks">Tick History</option>
    <option value="/api/#active_symbols">Active Symbols</option>
    <option value="/api/#offerings">Offerings</option>
    <option value="/api/#contracts_for">Contracts For Symbol</option>
    <option value="/api/#payout_currencies">Payout Currencies</option>
    <option value="/api/#trading_times">Trading Times</option>
    <option value="/api/#ping">Ping</option>
    <option value="/api/#time">Server time</option>
    <option value='-' disabled>───────────────────────</option>
    <option value="/api/#tick">Tick Stream</option>
    <option value="/api/#proposal">Price Proposal</option>
    <option value="/api/#forget">Forget</option>
    <option value='-' disabled>───────────────────────</option>
    <option value="/api/#authorize">Authorize</option>
    <option value="/api/#balance">Balance</option>
    <option value="/api/#statement">Statement</option>
    <option value="/api/#portfolio">Portfolio</option>
    <option value="/api/#proposal_open_contract">Open Contract Proposal</a></li>
    <option value="/api/#buy">Buy Contract</option>
    <option value="/api/#sell">Sell Contract</option>
</select>
