<select id="mobile-page-selector">
    <option value="/">Welcome</option>
    <option value="/applications/">Applications</option>
    <option value='-' disabled>────────────</option>
    <option value="/demos/">Code Samples</option>
    <option value="/api/">API Playground</option>
    <option value="/faq/">FAQ</option>
    <option value='-' disabled>────────────</option>
    <option value="/schemas/">JSON Schemas</option>
    <option value="/websockets/">Websockets</option>
    <option value="/schemas/">JSON Schemas</option>
    <option value="/guide/">API Guide</option>
    <option value="/open-source/">Open Source</option>
    <option value="/security/">Security</option>
    <option value="/careers/">Careers</option>
</select>
