<select id="mobile-page-selector">
    <option value="{{ branch }}/">Welcome</option>
    <option value="{{ branch }}/applications/">Applications</option>
    <option value='-' disabled>────────────</option>
    <option value="{{ branch }}/demos/">Code Samples</option>
    <option value="{{ branch }}/api/">API Playground</option>
    <option value="{{ branch }}/faq/">FAQ</option>
    <option value='-' disabled>────────────</option>
    <option value="{{ branch }}/schemas/">JSON Schemas</option>
    <option value="{{ branch }}/websockets/">Websockets</option>
    <option value="{{ branch }}/schemas/">JSON Schemas</option>
    <option value="{{ branch }}/guide/">API Guide</option>
    <option value="{{ branch }}/best-practices/">Best practices</option>
    <option value="{{ branch }}/open-source/">Open Source</option>
    <option value="{{ branch }}/security/">Security</option>
    <option value="{{ branch }}/careers/">Careers</option>
</select>
