<section class="off-canvas-menu">
    <div class="menu-container">
        <div class="menu-wrapper">
            Home
        </div>
        <div class="menu-wrapper">
            <div class="menu-header">
                Documentation
                <img class="menu-button" src="/img/arrow_down.svg" width="16" height="16" alt="expand" />
            </div>
            <div class="menu-panel">
                
            </div>
        </div>
        <div class="menu-wrapper">
            API Playground
        </div>
    </div>
</section>