<section id="canvas-menu" class="off-canvas-menu">
  <div class="menu-container">
    <div id="home" class="menu-wrapper">
      <a href="{{ branch }}/">Home</a>
    </div>
    <div class="menu-wrapper">
      <div id="doc-menu-header" class="menu-header">
        Documentation
        <img
          class="menu-button"
          src="/img/arrow_down.svg"
          width="16"
          height="16"
          alt="expand"
        />
      </div>
      <div class="menu-panel">
        <a id="quickstart" href="{{ branch }}/docs/">Quickstart</a>
        <a id="code-samples" href="{{ branch }}/docs/code-samples/"
          >Code Samples</a
        >
        <a id="app-registration" href="{{ branch }}/docs/app-registration/"
          >App Registration</a
        >
        <a id="api-guide" href="{{ branch }}/docs/api-guide/">API Guide</a>
        <a id="faq" href="{{ branch }}/docs/faq/">FAQ</a>
        <a id="json-schemas" href="{{ branch }}/docs/json-schemas/"
          >JSON Schemas</a
        >
        <a id="bug-bounty" href="{{ branch }}/docs/bug-bounty/">Bug Bounty</a>
      </div>
    </div>
    <div id="playground_link" class="menu-wrapper">
      <a href="{{ branch }}/playground/">API Playground</a>
    </div>
  </div>
</section>
