<div class="sidebar-left">
    <ul>
        <li>
            <a href="/">Welcome</a>
        </li>
        <li>
            <a href="/websockets/">Quickstart</a>
        </li>
        <li>
            <a href="/demos/">Code samples</a>
        </li>
        <li>
            <a href="/applications/">App registration</a>
        </li>
        <li><a href="/api/">API playground</a></li>
        <li>
            <a href="/guide/">API guide</a>
        </li>
        <li>
            <a href="/faq/">FAQ</a>
        </li>
        <li>
            <a href="/omnibus/">Omnibus facilities</a>
        </li>
        <li>
            <a href="/copytrading/">Copy trading facilities</a>
        </li>
        <li>
            <a href="https://binary.vanillacommunity.com" target=_blank>Dev forum</a>
        </li>
        <li>
            <a href="/schemas/">JSON Schemas</a>
        </li>
        <li>
            <a href="/open-source/">Open source</a>
        </li>
        <li>
            <a href="/security/">Security</a>
        </li>
        <li>
            <a href="/careers/">Careers</a>
        </li>
    </ul>
</div>
