<div class="sidebar-left">
    <ul>
        <li><a href="{{ branch }}/">Welcome</a></li>
        <li><a href="{{ branch }}/websockets/">Quickstart</a></li>
        <li><a href="{{ branch }}/demos/">Code samples</a></li>
        <li><a href="{{ branch }}/applications/">App registration</a></li>
        <li><a href="{{ branch }}/api/">API playground</a></li>
        <li><a href="{{ branch }}/guide/">API guide</a></li>
        <li><a href="{{ branch }}/faq/">FAQ</a></li>
        <li><a href="{{ branch }}/copytrading/">Copy trading facilities</a></li>
        <li><a href="{{ branch }}/server-status-updates/">Server status updates</a></li>
        <li><a href="https://binary.vanillacommunity.com" target=_blank>Dev forum</a></li>
        <li><a href="{{ branch }}/schemas/">JSON Schemas</a></li>
        <li><a href="{{ branch }}/open-source/">Open source</a></li>
        <li><a href="{{ branch }}/security/">Security</a></li>
        <li><a href="{{ branch }}/careers/">Careers</a></li>
    </ul>
    <a id ="api-token-link" href="https://www.binary.com/en/user/security/api_tokenws.html">Looking for your API token?</a>
</div>
