<div id="sidebar" class="sidebar-left">
    <p class="sidebar-title">Deriv API</p>
    <a id="websockets" href="{{ branch }}/websockets/">Quickstart</a></li>
    <a id="demos" href="{{ branch }}/demos/">Code samples</a></li>
    <a id="applications" href="{{ branch }}/applications/">App registration</a></li>
    <a id="api" href="{{ branch }}/api/">API playground</a></li>
    <a id="api" href="{{ branch }}/guide/">API guide</a></li>
    <a id="faq" href="{{ branch }}/faq/">FAQ</a></li>
    <a id="schemas" href="{{ branch }}/schemas/">JSON Schemas</a></li>
    <a id="bounty" href="{{ branch }}/bounty/">Bug Bounty</a></li>
</div>
